html {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e7001d;
  color: white;
  position: relative;
	text-align: center;
}

h1 {
  font-size: 48px;
	margin: 0;
  padding-top: 17px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 2px 5px black;
}

header p {
  font-size: 14px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.25px;
  padding-bottom: 25px;
  top: 3px;
  margin: 0;
  text-shadow: 1px 2px 5px black;
}

.medallion {
  padding-top: 17.5px;
  width: 95px;
	position: absolute;
  left: 50%;
  margin-left: -47.5px;
}

nav {
  text-align: left;
  font-size: 18px;
}

nav li {
	background-color: #222;
	display: inline;
	width: 50%;
	float: left;
	padding: .6em;
  padding-left: 12px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

nav ol {
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}

.banner{
	position: relative;
	width: 100%;
}

.banner img{
	width: 100%;
}

.banner h2{
  font-size: 30px;
	position: absolute;
	bottom: .3em;
	text-align: center;
	width: 100%;
	color: white;
	font-style: italic;
 	text-shadow: 1px 1px 5px black;
  margin-bottom: 10px;
}

main p{
	margin: 1em .5em;
  line-height: 157.5%;
}
